# Snippet für Bot-Block & Rate-Limit
# Rate-Limit muss noch ergänzt werden, braucht angepasstes Dockerfile
(protection) {
    # RATENBEGRENZUNG (Schutz vor schnellen Scannern)
    # Erlaubt maximal 30 Anfragen pro 10 Sekunden pro IP-Adresse.
    #rate_limit {
    #    zone global_limit {
    #        key {http.request.remote.host}
    #        events 30
    #        window 10s
    #    }
    #}

    # USER-AGENT BLOCK (Schutz vor bekannten Bots)
    @badbots {
        header User-Agent *(Baiduspider|YandexBot|python|nikto|dirbuster|sqlmap|NetSystemsResearch|AhrefsBot|ClaudeBot|GPTBot)*
    }
    
    # Verbindung sofort abbrechen, wenn ein Bad Bot erkannt wird
    handle @badbots {
        abort
    }
}

# Robots.txt direkt durch Caddy beantworten
(robots) {
    handle /robots.txt {
        respond "User-agent: *\nDisallow: /" 200
    }
}

# Snippet für Wartungsmodus
(maintenance_check) {
    # Prüft, ob die Datei /.enabled im Wartungsordner existiert
    @maintenance file {
        root /srv/maintenance
        try_files /.enabled
    }

    # Wenn aktiv, wird die index.html mit HTTP 503 (Service Unavailable) ausgeliefert
    handle @maintenance {
        root * /srv/maintenance
        rewrite * /index.html
        header Retry-After "3600"
        file_server
    }
}

nabahilfe.eu {
    import robots

    handle {
        respond "Verwende deine Sub-Domain, z.B.: ma.nabahilfe.eu" 200
    }
}

ma.nabahilfe.eu {
    import protection
    import robots
    import maintenance_check

    handle {
        reverse_proxy nbh-app:8080
    }
}

www.nabahilfe.eu {
    import protection
    import robots
    import maintenance_check

    handle {
        reverse_proxy nbh-app:8080
    }
}

acceptance-test.nabahilfe.eu {
    import protection
    import robots

    handle {
	    reverse_proxy nbh-app:8080
    }
}

monitor.nabahilfe.eu {
    import protection
    import robots

    handle {
        reverse_proxy uptime-kuma:3001
    }
}

